body {
    background-color: #e0e0e0;
}

.header {
    border-bottom: solid 1px gray;
    padding: 10px;
    background-color: #8b4141;
    color: white;
    font-weight: bolder;
    font-size: 125%;
}

.subheader {
    border-bottom: solid 1px gray;
    margin-bottom: 15px;
    padding: 5px;
    padding-left: 10px;
    background-color: white;
    color: white;
    font-weight: bolder;
}

.content {
    padding: 10px;
}

.gridLayout th {
    background-color: white;
    padding: 3px;
    width: 140px;
}

.gridLayout td {
    background-color: #d0d0d0;
    padding: 3px;
}
